body {
    font-family: 'Inter', sans-serif; /* Best for body text */
    font-size: 16px;
    line-height: 1.6;
    box-sizing: border-box;
}


/* Headings */
h1, h2, h3 {
    font-family: 'Poppins', sans-serif; /* Stylish headings */
    /* font-weight: 300; */
}
/* Add custom styles here */
.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 1em;
    padding-right: 0.5rem; /* Adjust based on the size of your custom arrow */
    border: none;
    outline: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header is on top */
}
main {
    padding-top: 70px; /* Adjust based on the height of your header */
}
.logo {
    font-family: 'Brush Script MT', cursive;
    font-size: 2rem;
}